<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        @* <p><a class="link" href="" style="color: white">Home</a></p>
        <p> | </p> *@
        <p><a class="link" href="" style="color: white">Projects</a></p>
        <p> | </p>
        <p><a class="link" href="" style="color: white">Contact</a></p>
    </div>
    <div id="navbar2">
        <h2>About Me</h2>
    </div>
    @* main container *@
    <div id="maincontainer">
        @* leftbox *@
        <div id="leftbox">
            <img id="myphoto" src="~/images/me.png" alt="">
            <h1 class="text">John Londono</h1>
            <p class="text">Developer, Photograher, Crypto Nerd</p>
        </div>
        @* rightbox *@
        <div id="rightbox">
            <p> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero illum maiores beatae in facilis commodi aut, quae nulla nisi esse libero quia, minima at temporibus vel rem blanditiis ipsam quas!</br>
                <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus exercitationem alias iure modi in rem qui mollitia architecto provident omnis. Necessitatibus cumque libero voluptatibus repellat accusantium exercitationem error nam minima!</br>
                <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis in quod placeat aspernatur incidunt eum, sapiente aliquam, rerum voluptatibus vero architecto, odit sit! Sit, quod officia provident iure natus omnis?
                </br>
            </p>
        </div>
    </div>


    @* nav bottom *@
    <div id="navbottom"></div>
</body>
</html>∂