<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/projects.css">
    <title>Document</title>
</head>
<body>
    @* navbar *@
    <div id="navbar">
        <p><a class="link" href="" style="color: white">Home</a></p>
        <p> | </p>
        @* <p><a class="link" href="" style="color: white">Projects</a></p>
        <p> | </p> *@
        <p><a class="link" href="" style="color: white">Contact</a></p>
    </div>
    <div id="navbar2">
        <h2>Projects</h2>
    </div>
    @* container *@
    <div id="container" style="overflow:auto">
        <div class="projects">
            <img id="picture" src="~/images/trading.png" alt="">
            <div class="projectDescription">
                <h2>Crypto Watch</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo illum, autem dolores ab est placeat iusto repellat velit provident enim ipsam fugiat optio nulla dignissimos eaque tempore itaque possimus impedit?</p>
            </div>
        </div>
        <div class="projects">
            <img id="picture" src="~/images/pokemon.jpeg" alt="">
            <div class="projectDescription">
                <h2>Exclusive Trading Site</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo illum, autem dolores ab est placeat iusto repellat velit provident enim ipsam fugiat optio nulla dignissimos eaque tempore itaque possimus impedit?</p>
            </div>
        </div>
        <div class="projects">
            <img id="picture" src="~/images/pokemon.jpeg" alt="">
            <div class="projectDescription">
                <h2>Exclusive Trading Site</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo illum, autem dolores ab est placeat iusto repellat velit provident enim ipsam fugiat optio nulla dignissimos eaque tempore itaque possimus impedit?</p>
            </div>
        </div>
    </div>
        <!-- bottom nav -->
    <div id="navbottom"></div>
</body>
</html>